<% wrap_layout :layout do %>
  <header id="header">
    <div class="container">
      <h1><%= link_to image_tag("mk.svg", :width => 225, :height => 225, :alt => "Keller's logo"), "/", { :class => 'logo' } %></h1>
      <p class="console"># aptitude search 'six months internship'</p>
    </div>
  </header>

  <div class="container">
    <nav id="tos">
      <%= partial 'layouts/nav' %>

	  <footer>

	  <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">
		  <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" />
	  </a>

	  </footer>
    </nav>
    
    <article id="main" role="main">
      <%= yield %>
    </article>
  </div>
<% end %>
