/* line 128, icons/*.png */
.icons-sprite, .icons-archives, .icons-author, .icons-bitbucket, .icons-category, .icons-facebook, .icons-feeds, .icons-github, .icons-linkedin, .icons-rss, .icons-stackoverflow, .icons-twitter {
  background-image: url('../img/icons-s111d869801.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../.gem/ruby/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-archives {
  background-position: 0 0;
}

/* line 84, ../../../../../.gem/ruby/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-author {
  background-position: 0 -16px;
}

/* line 84, ../../../../../.gem/ruby/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-bitbucket {
  background-position: 0 -32px;
}

/* line 84, ../../../../../.gem/ruby/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-category {
  background-position: 0 -48px;
}

/* line 84, ../../../../../.gem/ruby/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-facebook {
  background-position: 0 -64px;
}

/* line 84, ../../../../../.gem/ruby/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-feeds {
  background-position: 0 -80px;
}

/* line 84, ../../../../../.gem/ruby/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-github {
  background-position: 0 -96px;
}

/* line 84, ../../../../../.gem/ruby/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-linkedin {
  background-position: 0 -112px;
}

/* line 84, ../../../../../.gem/ruby/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-rss {
  background-position: 0 -128px;
}

/* line 84, ../../../../../.gem/ruby/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-stackoverflow {
  background-position: 0 -144px;
}

/* line 84, ../../../../../.gem/ruby/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-twitter {
  background-position: 0 -160px;
}

/* line 8, ../sass/partials/_common.scss */
body,
.pure-g [class*="pure-u"],
.pure-g-r [class*="pure-u"] {
  font-family: Helvetica, Arial, sans-serif;
}

/* line 14, ../sass/partials/_common.scss */
body {
  background: #EBEBEB;
  color: #555;
  font-size: 14px;
}

/* line 20, ../sass/partials/_common.scss */
a {
  color: #364956;
  text-decoration: none;
}
/* line 24, ../sass/partials/_common.scss */
a:hover {
  color: #EA141F;
}

/* line 27, ../sass/partials/_common.scss */
blockquote {
  background: #f5f5f5;
  margin: 0;
  padding: 1em 40px;
}

/* line 33, ../sass/partials/_common.scss */
li {
  margin-bottom: 5px;
}

/* line 35, ../sass/partials/_common.scss */
p {
  line-height: 24px;
  text-align: justify;
}

/* line 40, ../sass/partials/_common.scss */
.align-center {
  display: block;
  margin: 0 auto;
  text-align: center;
}

/* line 46, ../sass/partials/_common.scss */
.align-left {
  float: left;
  margin: 0 20px 10px 0;
}

/* line 51, ../sass/partials/_common.scss */
.box, .box-content, .entry, .module, .pagination a {
  background: white;
  border: 1px solid #cdcdcd;
}

/* line 56, ../sass/partials/_common.scss */
.box-content, .entry, .module {
  margin-bottom: 40px;
  position: relative;
}

/* line 63, ../sass/partials/_common.scss */
.clearfix {
  clear: both;
}

/* line 65, ../sass/partials/_common.scss */
.entry .highlight {
  padding: 1em;
}

/* line 69, ../sass/partials/_common.scss */
.icons {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 16px;
  width: 16px;
}

/* line 76, ../sass/partials/_common.scss */
.page-title {
  color: #364956;
  font-size: 26px;
  margin: 0 0 30px 0;
}

/* line 82, ../sass/partials/_common.scss */
.secondary {
  color: #EA141F;
}

/* line 86, ../sass/partials/_common.scss */
.emoticon {
  text-shadow: 1px 1px 1px #dedede;
  color: #364956;
  font-size: 64px;
  text-align: center;
}

/* line 1, ../sass/partials/_grid.scss */
.wrapper, .pure-menu.menu > ul {
  margin: 0 auto;
  max-width: 1050px;
}

/* line 6, ../sass/partials/_grid.scss */
.l-box {
  padding: 10px;
}

/* line 3, ../sass/partials/_header.scss */
.header {
  margin-bottom: 40px;
}
/* line 6, ../sass/partials/_header.scss */
.header h1 {
  margin: 0;
}

/* line 9, ../sass/partials/_header.scss */
.logo {
  color: #364956;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: -2px;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 18, ../sass/partials/_header.scss */
.ad {
  display: none;
}

/* line 20, ../sass/partials/_header.scss */
.pure-menu.menu {
  background: #364956;
}
/* line 23, ../sass/partials/_header.scss */
.pure-menu.menu a {
  color: white;
  font-size: 0.9em;
  font-weight: 600;
  padding: 8px 20px;
}
/* line 29, ../sass/partials/_header.scss */
.pure-menu.menu a:hover {
  background-color: #EA141F;
}

/* line 35, ../sass/partials/_header.scss */
.pure-menu.menu > ul {
  display: block;
}

/* line 3, ../sass/partials/_content.scss */
.entry-author,
.entry-content {
  padding-right: 10px;
}

/* line 6, ../sass/partials/_content.scss */
.entry {
  padding: 20px;
}
/* line 11, ../sass/partials/_content.scss */
.entry img {
  border: 4px solid #dcdcdc;
}

/* line 14, ../sass/partials/_content.scss */
.entry-header {
  margin-bottom: 20px;
}

/* line 16, ../sass/partials/_content.scss */
.entry-date {
  background: #EA141F;
  color: white;
  font-size: 12px;
  left: 22px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: -10px;
  width: 100px;
}

/* line 28, ../sass/partials/_content.scss */
.entry-title, .entry-title-link, .entry-title-link:visited {
  color: #333;
  font-size: 24px;
  margin: 10px 0;
  letter-spacing: -1px;
}

/* line 35, ../sass/partials/_content.scss */
.entry-title-link {
  -moz-transition: background 0.25s linear 0s;
  -o-transition: background 0.25s linear 0s;
  -webkit-transition: background 0.25s linear;
  -webkit-transition-delay: 0s;
  transition: background 0.25s linear 0s;
}
/* line 42, ../sass/partials/_content.scss */
.entry-title-link:hover {
  color: #EA141F;
}

/* line 47, ../sass/partials/_content.scss */
.meta {
  margin: 0;
  line-height: 20px;
}

/* line 52, ../sass/partials/_content.scss */
.meta-link {
  color: #999;
  font-size: 14px;
}

/* line 57, ../sass/partials/_content.scss */
.entry-content a {
  color: #EA141F;
}
/* line 60, ../sass/partials/_content.scss */
.entry-content a:hover {
  color: #364956;
}

/* line 63, ../sass/partials/_content.scss */
.entry-read-more {
  -moz-transition: background 0.25s linear 0s;
  -o-transition: background 0.25s linear 0s;
  -webkit-transition: background 0.25s linear;
  -webkit-transition-delay: 0s;
  transition: background 0.25s linear 0s;
  background: #EA141F;
  color: white;
  float: right;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 5px;
  padding: 5px 10px;
}
/* line 74, ../sass/partials/_content.scss */
.entry-read-more:hover {
  background: #364956;
  color: white;
}

/* line 80, ../sass/partials/_content.scss */
.social-buttons {
  border-bottom: 2px solid #eaedee;
  padding: 10px 0 20px 0;
}

/* line 85, ../sass/partials/_content.scss */
.social-button {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 120px;
}

@media screen and (max-width: 768px) {
  /* line 92, ../sass/partials/_content.scss */
  .full-entry .entry {
    margin-bottom: 40px;
  }

  /* line 94, ../sass/partials/_content.scss */
  .entry img.align-left {
    width: 30%;
  }
}
/* line 3, ../sass/partials/_pagination.scss */
.pagination {
  margin-bottom: 20px;
  text-align: center;
}
/* line 7, ../sass/partials/_pagination.scss */
.pagination a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: #333;
  margin-left: 10px;
  padding: 5px 10px;
}
/* line 15, ../sass/partials/_pagination.scss */
.pagination a:first-child {
  margin-left: 0;
}
/* line 17, ../sass/partials/_pagination.scss */
.pagination a.actual-page, .pagination a:hover {
  background: #364956;
  color: white;
}

@media screen and (max-width: 768px) {
  /* line 26, ../sass/partials/_pagination.scss */
  .pagination {
    margin-bottom: 40px;
  }
}
/* line 1, ../sass/partials/_aside.scss */
.module {
  font-size: 13px;
  padding: 10px;
}
/* line 7, ../sass/partials/_aside.scss */
.module ul {
  list-style: none;
  padding: 0;
}
/* line 12, ../sass/partials/_aside.scss */
.module li {
  margin-bottom: 15px;
}

/* line 15, ../sass/partials/_aside.scss */
.module-title {
  color: #444;
  border-bottom: 1px solid #d2d2d2;
  font-size: 20px;
  text-transform: capitalize;
}

/* line 23, ../sass/partials/_aside.scss */
.related-post-title {
  font-weight: normal;
}

/* line 26, ../sass/partials/_aside.scss */
.tag {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

/* line 30, ../sass/partials/_aside.scss */
.tag-0 {
  font-size: 180%;
}

/* line 34, ../sass/partials/_aside.scss */
.tag-1 {
  font-size: 160%;
}

/* line 38, ../sass/partials/_aside.scss */
.tag-2 {
  font-size: 120%;
}

@media screen and (max-width: 768px) {
  /* line 43, ../sass/partials/_aside.scss */
  .sidebar {
    margin-bottom: 40px;
  }
}
/* line 1, ../sass/partials/_footer.scss */
.footer {
  background: #2f4553;
  border-top: 1px solid #302d2d;
  color: #979494;
  width: 100%;
}
/* line 7, ../sass/partials/_footer.scss */
.footer a {
  color: white;
}
/* line 9, ../sass/partials/_footer.scss */
.footer p {
  margin: 0;
}

/* line 12, ../sass/partials/_footer.scss */
.credits p {
  text-align: right;
}

@media screen and (max-width: 768px) {
  /* line 15, ../sass/partials/_footer.scss */
  .credits,
  .copyright {
    width: 100%;
  }
}
/* line 1, ../sass/partials/_pygments.scss */
.highlight .hll {
  background-color: #ffffcc;
}

/* line 2, ../sass/partials/_pygments.scss */
.highlight {
  background: #f0f0f0;
  border-style: solid;
  border-width: 1px;
}

/* line 3, ../sass/partials/_pygments.scss */
.highlight .c {
  color: #60a0b0;
  font-style: italic;
}

/* Comment */
/* line 4, ../sass/partials/_pygments.scss */
.highlight .err {
  border: 1px solid #FF0000;
}

/* Error */
/* line 5, ../sass/partials/_pygments.scss */
.highlight .k {
  color: #007020;
  font-weight: bold;
}

/* Keyword */
/* line 6, ../sass/partials/_pygments.scss */
.highlight .o {
  color: #666666;
}

/* Operator */
/* line 7, ../sass/partials/_pygments.scss */
.highlight .cm {
  color: #60a0b0;
  font-style: italic;
}

/* Comment.Multiline */
/* line 8, ../sass/partials/_pygments.scss */
.highlight .cp {
  color: #007020;
}

/* Comment.Preproc */
/* line 9, ../sass/partials/_pygments.scss */
.highlight .c1 {
  color: #60a0b0;
  font-style: italic;
}

/* Comment.Single */
/* line 10, ../sass/partials/_pygments.scss */
.highlight .cs {
  color: #60a0b0;
  background-color: #fff0f0;
}

/* Comment.Special */
/* line 11, ../sass/partials/_pygments.scss */
.highlight .gd {
  color: #A00000;
}

/* Generic.Deleted */
/* line 12, ../sass/partials/_pygments.scss */
.highlight .ge {
  font-style: italic;
}

/* Generic.Emph */
/* line 13, ../sass/partials/_pygments.scss */
.highlight .gr {
  color: #FF0000;
}

/* Generic.Error */
/* line 14, ../sass/partials/_pygments.scss */
.highlight .gh {
  color: #000080;
  font-weight: bold;
}

/* Generic.Heading */
/* line 15, ../sass/partials/_pygments.scss */
.highlight .gi {
  color: #00A000;
}

/* Generic.Inserted */
/* line 16, ../sass/partials/_pygments.scss */
.highlight .go {
  color: #888888;
}

/* Generic.Output */
/* line 17, ../sass/partials/_pygments.scss */
.highlight .gp {
  color: #c65d09;
  font-weight: bold;
}

/* Generic.Prompt */
/* line 18, ../sass/partials/_pygments.scss */
.highlight .gs {
  font-weight: bold;
}

/* Generic.Strong */
/* line 19, ../sass/partials/_pygments.scss */
.highlight .gu {
  color: #800080;
  font-weight: bold;
}

/* Generic.Subheading */
/* line 20, ../sass/partials/_pygments.scss */
.highlight .gt {
  color: #0044DD;
}

/* Generic.Traceback */
/* line 21, ../sass/partials/_pygments.scss */
.highlight .kc {
  color: #007020;
  font-weight: bold;
}

/* Keyword.Constant */
/* line 22, ../sass/partials/_pygments.scss */
.highlight .kd {
  color: #007020;
  font-weight: bold;
}

/* Keyword.Declaration */
/* line 23, ../sass/partials/_pygments.scss */
.highlight .kn {
  color: #007020;
  font-weight: bold;
}

/* Keyword.Namespace */
/* line 24, ../sass/partials/_pygments.scss */
.highlight .kp {
  color: #007020;
}

/* Keyword.Pseudo */
/* line 25, ../sass/partials/_pygments.scss */
.highlight .kr {
  color: #007020;
  font-weight: bold;
}

/* Keyword.Reserved */
/* line 26, ../sass/partials/_pygments.scss */
.highlight .kt {
  color: #902000;
}

/* Keyword.Type */
/* line 27, ../sass/partials/_pygments.scss */
.highlight .m {
  color: #40a070;
}

/* Literal.Number */
/* line 28, ../sass/partials/_pygments.scss */
.highlight .s {
  color: #4070a0;
}

/* Literal.String */
/* line 29, ../sass/partials/_pygments.scss */
.highlight .na {
  color: #4070a0;
}

/* Name.Attribute */
/* line 30, ../sass/partials/_pygments.scss */
.highlight .nb {
  color: #007020;
}

/* Name.Builtin */
/* line 31, ../sass/partials/_pygments.scss */
.highlight .nc {
  color: #0e84b5;
  font-weight: bold;
}

/* Name.Class */
/* line 32, ../sass/partials/_pygments.scss */
.highlight .no {
  color: #60add5;
}

/* Name.Constant */
/* line 33, ../sass/partials/_pygments.scss */
.highlight .nd {
  color: #555555;
  font-weight: bold;
}

/* Name.Decorator */
/* line 34, ../sass/partials/_pygments.scss */
.highlight .ni {
  color: #d55537;
  font-weight: bold;
}

/* Name.Entity */
/* line 35, ../sass/partials/_pygments.scss */
.highlight .ne {
  color: #007020;
}

/* Name.Exception */
/* line 36, ../sass/partials/_pygments.scss */
.highlight .nf {
  color: #06287e;
}

/* Name.Function */
/* line 37, ../sass/partials/_pygments.scss */
.highlight .nl {
  color: #002070;
  font-weight: bold;
}

/* Name.Label */
/* line 38, ../sass/partials/_pygments.scss */
.highlight .nn {
  color: #0e84b5;
  font-weight: bold;
}

/* Name.Namespace */
/* line 39, ../sass/partials/_pygments.scss */
.highlight .nt {
  color: #062873;
  font-weight: bold;
}

/* Name.Tag */
/* line 40, ../sass/partials/_pygments.scss */
.highlight .nv {
  color: #bb60d5;
}

/* Name.Variable */
/* line 41, ../sass/partials/_pygments.scss */
.highlight .ow {
  color: #007020;
  font-weight: bold;
}

/* Operator.Word */
/* line 42, ../sass/partials/_pygments.scss */
.highlight .w {
  color: #bbbbbb;
}

/* Text.Whitespace */
/* line 43, ../sass/partials/_pygments.scss */
.highlight .mf {
  color: #40a070;
}

/* Literal.Number.Float */
/* line 44, ../sass/partials/_pygments.scss */
.highlight .mh {
  color: #40a070;
}

/* Literal.Number.Hex */
/* line 45, ../sass/partials/_pygments.scss */
.highlight .mi {
  color: #40a070;
}

/* Literal.Number.Integer */
/* line 46, ../sass/partials/_pygments.scss */
.highlight .mo {
  color: #40a070;
}

/* Literal.Number.Oct */
/* line 47, ../sass/partials/_pygments.scss */
.highlight .sb {
  color: #4070a0;
}

/* Literal.String.Backtick */
/* line 48, ../sass/partials/_pygments.scss */
.highlight .sc {
  color: #4070a0;
}

/* Literal.String.Char */
/* line 49, ../sass/partials/_pygments.scss */
.highlight .sd {
  color: #4070a0;
  font-style: italic;
}

/* Literal.String.Doc */
/* line 50, ../sass/partials/_pygments.scss */
.highlight .s2 {
  color: #4070a0;
}

/* Literal.String.Double */
/* line 51, ../sass/partials/_pygments.scss */
.highlight .se {
  color: #4070a0;
  font-weight: bold;
}

/* Literal.String.Escape */
/* line 52, ../sass/partials/_pygments.scss */
.highlight .sh {
  color: #4070a0;
}

/* Literal.String.Heredoc */
/* line 53, ../sass/partials/_pygments.scss */
.highlight .si {
  color: #70a0d0;
  font-style: italic;
}

/* Literal.String.Interpol */
/* line 54, ../sass/partials/_pygments.scss */
.highlight .sx {
  color: #c65d09;
}

/* Literal.String.Other */
/* line 55, ../sass/partials/_pygments.scss */
.highlight .sr {
  color: #235388;
}

/* Literal.String.Regex */
/* line 56, ../sass/partials/_pygments.scss */
.highlight .s1 {
  color: #4070a0;
}

/* Literal.String.Single */
/* line 57, ../sass/partials/_pygments.scss */
.highlight .ss {
  color: #517918;
}

/* Literal.String.Symbol */
/* line 58, ../sass/partials/_pygments.scss */
.highlight .bp {
  color: #007020;
}

/* Name.Builtin.Pseudo */
/* line 59, ../sass/partials/_pygments.scss */
.highlight .vc {
  color: #bb60d5;
}

/* Name.Variable.Class */
/* line 60, ../sass/partials/_pygments.scss */
.highlight .vg {
  color: #bb60d5;
}

/* Name.Variable.Global */
/* line 61, ../sass/partials/_pygments.scss */
.highlight .vi {
  color: #bb60d5;
}

/* Name.Variable.Instance */
/* line 62, ../sass/partials/_pygments.scss */
.highlight .il {
  color: #40a070;
}

/* Literal.Number.Integer.Long */
/* For use with the code_line-number_word-wrap_switcher_jquery.js Pelican plugin */
/* line 2, ../sass/partials/_code.scss */
code {
  overflow: auto;
  /* This uses `white-space: pre-wrap` to get elements within <pre> tags to wrap. Python, for code chunks within three backticks (```), doesn't wordwrap code lines by default, because they're within <pre> tags, which don't wrap by default. See https://github.com/github/markup/issues/168 , which is specifically about this parsing issue, even though that link's discussion is talking about GitHub. */
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

/* Following http://bililite.com/blog/2012/08/05/line-numbering-in-pre-elements/, use CSS to add line numbers to all spans that have the class 'code-line' */
/* line 14, ../sass/partials/_code.scss */
.highlight pre {
  counter-reset: linecounter;
  padding-left: 2em;
}

/* line 18, ../sass/partials/_code.scss */
.highlight pre span.code-line {
  counter-increment: linecounter;
  padding-left: 1em;
  text-indent: -1em;
  display: inline-block;
}

/* line 24, ../sass/partials/_code.scss */
.highlight pre span.code-line:before {
  content: counter(linecounter);
  padding-right: 1em;
  display: inline-block;
  color: grey;
  text-align: right;
}
