#
# file .htacess for www.matthieu-keller.info
#
# SetEnv PHP_VER 5
# SetEnv REGISTER_GLOBALS 0

# RewriteEngine on

# add www. if is not present
# RewriteCond %{HTTP_HOST} ^matthieu-keller.info$
# RewriteRule ^(.*) http://www.matthieu-keller.info/$1 [QSA,L,R=301]

# rename from .php to .html
# RewriteRule ^(.*)\.html $1\.php 

# error pages
#ErrorDocument 401 /errors/error_401.html
#ErrorDocument 403 /errors/error_403.html
#ErrorDocument 404 /404.html
#ErrorDocument 500 /errors/error_500.hmtl

